img {
  max-width: 100%;
}

.homeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}

.description {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description h1 {
  margin-bottom: 0;
}

.description img {
  margin-bottom: 1.5rem;
}

.description p {
  font-size: 1.2rem;
}